.node-red/flows_raspberrypi.json
[{"id":"d11ed51c.2f2118","type":"tab","label":"Flow 1"},{"id":"b8e54ae1.065c08","type":"azureiothub","z":"d11ed51c.2f2118","name":"Azure IoT Hub","protocol":"amqp","x":280,"y":180,"wires":[["2573f44f.47293c"]]},{"id":"4cb6932.a491f6c","type":"inject","z":"d11ed51c.2f2118","name":"Inject data","topic":"","payload":"Hello from device","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":286.79998779296875,"wires":[["b8e54ae1.065c08"]]},{"id":"2573f44f.47293c","type":"function","z":"d11ed51c.2f2118","name":"Convert Bytes to String","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":292.3500061035156,"wires":[["92e9449b.dff278"]]},{"id":"92e9449b.dff278","type":"debug","z":"d11ed51c.2f2118","name":"","active":true,"console":"false","complete":"false","x":663,"y":410.92999267578125,"wires":[]}]